.env
/logs/*
\logs\*
logs\*
logs/*
./logs/*
.\logs\*
.logs\*
.logs/*
mongodb_url_and_password.config
/datas/config/discordBot_token.config
node_modules
node_modules/*
node_modules/
/node_modules/*
node_modules/@sapphire/async-queue/dist/lib/AsyncQueue.d.ts
